main {
  margin: 0;
  padding: 0;

}

.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SignUp {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Courier New';
}

.SignUp h1 {
  font-size: 30px;
}

.SignUp input {
  width: 80%;
  outline: none;
  padding: 7px;
  margin: 12px;
  border-radius: 7px;
  border: none;
  background-color: rgb(227, 235, 235);
  text-indent: 5px;
  font-size: 15px;
  font-family: 'Courier New';
}

.SignUp button {
  width: 81%;
  padding: 10px;
  font-size: 15px;
  margin: 10px;
  background-color: rgb(243, 96, 125);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  font-family: 'Courier New';
}

button:hover {
  box-shadow: 0 0 10px black;
  color: #ffffff;
  cursor: pointer;
  background-color: #06ca7c;
}

.SignUp .navLink {
  padding: 8px;
  background-color: rgb(243, 96, 125);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}

.Todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  backdrop-filter: blur(12px);
  position: absolute;
  width: 70%;
  left: 200px;
}

.Todo-form h1 {
  font-size: 30px;
  text-align: center;
}

.Todo-form input,
.select {
  outline: none;
  padding: 7px;
  margin: 12px;
  border-radius: 7px;
  border: none;
  background-color: rgb(227, 235, 235);
  text-indent: 5px;
  font-size: 15px;
  font-family: 'Courier New';
}

.Todo-form button {
  margin: 10px;
  background-color: rgb(243, 96, 125);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  font-family: 'Courier New';
}

.Todo-form button:hover {
  box-shadow: 0 0 10px black;
  color: #ffffff;
  cursor: pointer;
  background-color: #06ca7c;
}

.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-list-sec {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(178, 175, 175);
}

.add-list input {
  outline: none;
  padding: 10px;
  margin: 12px;
  border-radius: 7px;
  border: none;
  background-color: rgb(227, 235, 235);
  text-indent: 5px;
  font-size: 15px;
  font-family: 'Courier New';
}

.add-list-sec button {
  padding: 10px;
  font-size: 15px;
  background-color: rgb(243, 96, 125);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  font-family: 'Courier New';
}

.heading {
  display: flex;
}

.show-todo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main-todo {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading h1 {
  font-size: 25px;
  font-weight: 600;
}

.heading button {
  padding: 6px;
  font-size: 15px;
  background-color: rgb(243, 96, 125);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  font-family: 'Courier New';
}

.tasks {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  padding: 6px;
  overflow-wrap: break-word;
}

.tasks p {
  font-size: 17px;
}

.tasks .task-head {
  display: flex;
  justify-content: space-between;
}

.Priority-section{
  display: flex;
  justify-content: space-around;
  margin-top: 1px;
}
.main-priority{
  width: 100%;
  background-color: rgb(178, 175, 175);
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}
.main-priority h1{
  font-size: 28px;
  font-weight: 500;
  font-family: 'Courier New';
  color: #ffffff;
}
.main-priority:hover{
  background-color: #06ca7c;
}